<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
    <title>Formulaire</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="@{/style.css}"/>
    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
            crossorigin="anonymous"></script>
</head>
</head>
<body>
<div  class="spacer col-md-6 mx-auto bigspacer" layout:fragment="content">
    <div class="card">
      <br/> <div class="card-header"><h3 class="card-title">Ajout d'une voie</h3></div>
        <div class="card-body">
            <form th:action="@{/site/{idSite}/voie/save(idSite=${voie.site.idSite})}" method="post">

                <div class="form-group">
                    <label class="control-label">Nom de la voie:
                        <span class="red" th:errors=" ${voie.nomVoie}">
                        </span>
                    </label>
                    <input class="form-control" type="text" name="nomVoie" th:value="${voie.nomVoie}"/>
                </div>
                <div class="form-group">
                    <label class="control-label " th:name="Secteur">Secteur:
                        <span class="red" th:errors="${voie.secteur}">
                        </span>
                    </label>
                    <input class="form-control" type="text" name="secteur" th:value="${voie.secteur}"/>
                </div>
                <div class="form-group">
                    <label class="control-label" th:name="difficulte">Difficulté:
                        <span  class="red" th:errors="${voie.difficulte}">
                        </span>
                    </label>
                    <input class="form-control" type="text" name="difficulte" th:value="${voie.difficulte}"/>
                </div>
                <div class="form-group">
                    <label class="control-label " th:name="hauteurVoie">Hauteur:
                    </label>
                    <input class="form-control" type="number" step="any" name="hauteurVoie" th:value="${voie.hauteurVoie}"/>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>