<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
    <title>Formulaire</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
            crossorigin="anonymous"></script>
</head>
</head>
<body>
<div  class="vbigspacer col-md-6 mx-auto" layout:fragment="content">
    <div class="card">
      <br/> <div class="card-header"><h3 class="card-title">Edition d'un commentaire</h3></div>
        <div class="card-body">
            <form th:action="@{/site/{idSite}/commentaire/{idCommentaire}/save(idSite=${site.idSite},idCommentaire=${commentaire.id})}" method="post">
                <div class="form-group">
                    <label class="control-label">Ancien Commentaire:<br/>
                        <span class="red" th:errors=" ${commentaire.contenu}">
                        </span>
                    </label>
                    <p th:text="${commentaire.contenu}"/>
                </div>
                <div class="form-group">
                    <label for="textarea">Votre commentaire :</label>
                    <textarea id="textarea" class="form-control" name="contenu" rows="4" value="écrivez votre texte en 1000 caractères" maxlength="1000"></textarea>
                    <small class="form-text text-muted">Vous pouvez agrandir la fenêtre</small>
                </div>
                <div>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>