<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
    <title>Formulaire</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
            crossorigin="anonymous"></script>
</head>
</head>
<body>
<div  class="vbigspacer col-md-6 mx-auto" layout:fragment="content" th:if="${utilisateur.idUser}==${utilisateurConnecte.idUser}">
    <div class="card">
      <br/> <div class="card-header"><h3 class="card-title">Edition du profile</h3></div>
        <div class="card-body">
            <form th:action="@{/utilisateur/{idUser}/save(idUser=${utilisateurConnecte.idUser})}" method="post" th:object="${utilisateur}">
                <div class="form-group">
                    <div class="form-group">
                        <label class="control-label">Nom d'utilisateur: </label>
                        <span class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red"></span>
                        <input class="form-control" type="text" th:field="*{username}" required th:placeholder="${utilisateur.username}" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nom:
                            <span class="red" th:errors=" ${utilisateur.lastname}"></span>
                        </label>
                        <input class="form-control" type="text" name="lastname" required th:placeholder="${utilisateur.lastname}" />
                    </div>
                    <div class="form-group">
                        <label class="control-label ">Prénom:
                            <span class="red" th:errors="${utilisateur.firstname}"></span>
                        </label>
                        <input class="form-control" type="text" name="firstname" required th:placeholder="${utilisateur.firstname}" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">email: </label>
                        <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></span>
                        <input class="form-control" type="email" th:field="*{email}" required th:placeholder="${utilisateur.email}" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password:
                            <span  class="red" th:errors="${utilisateur.password}"></span>
                        </label>
                        <input class="form-control" type="password" required name="password"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>