<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
    <title>Formulaire</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
            crossorigin="anonymous"></script>
</head>
</head>
<body>
<div  class="bigspacer col-md-4 mx-auto align-self-center" layout:fragment="content">
    <div class="card">
      <div class="card-header"><h3 class="card-title">Edition d'une longueur</h3></div>
        <div class="card-body">
            <form th:action="@{/longueur/{idLongueur}/save(idLongueur=${longueur.idLongueur})}" method="post">
                <div class="form-group">
                    <label class="control-label">Nom de la voie:</label>
                    <select class="form-control" id="idVoieNew" name="idVoieNew">
                        <option th:value="${longueur.voie.idVoie}" th:text="${longueur.voie.nomVoie}" selected style="display: none"></option>
                        <option th:each="lv:${listVoie}"  th:value="${lv.idVoie}" th:text="${lv.nomVoie}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Nom de la longueur:
                        <span class="red" th:errors=" ${longueur.nomLongueur}">
                        </span>
                    </label>
                    <input class="form-control" type="text" name="nomLongueur" th:value="${longueur.nomLongueur}"/>
                </div>
                <div class="form-group">
                    <label class="control-label ">Hauteur de la Longueur:
                        <span class="red" th:errors="${longueur.hauteurLongueur}">
                        </span>
                    </label>
                    <input class="form-control" type="number" name="hauteurLongueur" th:value="${longueur.hauteurLongueur}"/>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>