<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
    <title>Les spots</title>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/2fe189fad4.js" crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
</head>
<body sec:authorize="hasRole('ROLE_USER')">

    <div layout:fragment="content" class="vbigspacer" >
        <aside>
            <div class=" row justify-content-center ml-2">
                <div class=" card">
                    <div class="card-header "><h3 class="card-title">Mon Profil:
                        <a class="btn btn-primary float-right ml-2" sec:authorize="hasRole('ROLE_USER')"
                           th:href="@{/utilisateur/{idUser}/edit(idUser=${utilisateurConnecte.idUser})}"><i class="fa fa-edit"></i> Modifier</a>
                    </h3></div>
                    <div class="card-body">
                        <div>
                            <label>Nom:</label>
                            <label th:text="${utilisateurConnecte.lastname}" class="mr-2"></label><br/>
                            <label>Prénom:</label>
                            <label th:text="${utilisateurConnecte.firstname}"></label><br/>
                            <label>Nom d'utilisateur:</label>
                            <label th:text="${utilisateurConnecte.username}"></label><br/>
                            <label>email de contact:</label>
                            <label th:text="${utilisateurConnecte.email}"></label>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <div class="row justify-content-center spacer">
            <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item" >
                                <a class="nav-link" th:class="${topoBool}==true?'nav-link active':'nav-link'" th:href="@{/utilisateur/profil/topos}">Mes Topos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:class="${demandeEmisesBool}==true?'nav-link active':'nav-link'"
                                   th:href="@{/utilisateur/profil/reservations/emises}">Réservations de Topo émises</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:class="${demandeRecueBool}==true?'nav-link active':'nav-link'"
                                   th:href="@{/utilisateur/profil/reservations/recues}">Réservations de Topo reçues ([[${listResaRecue.size()}]])</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:class="${demandeAccepteesBool}==true?'nav-link active':'nav-link'"
                                   th:href="@{/utilisateur/profil/reservations/acceptees}">Réservations de Topo acceptées</a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body justify-content-center" th:if="${paginationEnablerTopo>0} and ${topoBool}==true">
                        <a class="btn btn-primary float-left"
                           th:href="@{/topo/add}"><i class="fa fa-plus"></i> Ajouter un Topo</a><br/>
                        <table class="table table-striped spacer">
                            <tr>
                                <th class="text-center">Site</th>
                                <th class="text-center">Nom</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Disponibilité</th>
                                <th class="text-center">Modifier</th>
                                <th class="text-center">Supprimer</th>
                            </tr>
                            <tr th:each="lto:${listTopo}">
                                <td align="center" th:text="${lto.site.nameSite}"></td>
                                <td align="center" ><a th:text="${lto.nom}"  th:href="@{/topo/{id}/consult(id=${lto.id})}"></a></td>
                                <td align="center" th:text="${lto.description}"></td>
                                <td align="center" th:if="${lto.disponibilite}==true"><i class="fa fa-check-circle" style="color: green"></i></td>
                                <td align="center" th:if="${lto.disponibilite}==false"><i class="fa fa-times-circle" style="color: red"></i></i></td>
                                <td align="center" ><a sec:authorize="hasRole('ROLE_USER')" th:href="@{/topo/{id}/edit(id=${lto.id})}">
                                    <i class="fas fa-edit "></i></a></td>
                                <td align="center" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')} and ${lto.utilisateur.idUser}==${utilisateurConnecte.idUser}" >
                                    <a onclick="return confirm('Etes vous sûr(e) de vouloir supprimer le commentaire')" th:href="@{/topo/{idTopo}/delete(idTopo=${lto.id})}"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        </table>
                        <div class="container">
                            <ul class="nav nav-pills pagination justify-content-center h-100" th:if="${paginationEnablerTopo>1}">
                                <li  th:class="${pageCouranteTopo}==${status.index}?'page-item active':'page-item'"
                                     th:each="p,status:${pagesTopo}">
                                    <a class="page-link" th:href="@{/utilisateur/profil/topos(pageTopo=${status.index})}"
                                       th:text="${status.index}"></a>
                                </li>
                            </ul>
                            <br/>
                        </div>
                </div>
                <div class="card-body justify-content-center" th:if="${paginationEnablerTopo==0} and ${topoBool}==true">
                    <p>Vous n'avez pas encore de Topos, pensez à en ajouter.</p>
                        <a class="btn btn-primary" sec:authorize="hasRole('ROLE_USER')"
                           th:href="@{/topo/add}"><i class="fa fa-plus"></i> Ajouter un Topo</a>
                </div>
                <div class="card-body justify-content-center" th:if="${paginationEnablerResa>0} and ${demandeEmisesBool}==true">

                        <a class=" btn btn-primary float-left" th:href="@{/topo/search}" ><i class="fa fa-search"></i>  Trouver un Topo</a><br/><br/>


                    <table class="table table-striped">
                        <tr>
                            <th class="text-center">Reservation</th>
                            <th class="text-center">Topo</th>
                            <th class="text-center">Site</th>
                            <th class="text-center">Lieu</th>
                            <th class="text-center">émise le</th>
                            <th class="text-center">Statut</th>
                            <th class="text-center">Contacter<br/> le propriétaire</th>


                        </tr>
                        <tr th:each="lr:${listResaEmise}">
                            <td align="center" th:text="${lr.id}"></td>
                            <td align="center" ><a th:text="${lr.topo.nom}"  th:href="@{/topo/{id}/consult(id=${lr.topo.id})}"></a></td>
                            <td align="center" ><a th:text="${lr.topo.site.nameSite}" th:href="@{/site/{idSite}/consult(idSite=${lr.topo.site.idSite})}"></a></td>
                            <td align="center" th:text="${lr.topo.site.localisation}"></td>
                            <td align="center" th:text="${#dates.format(lr.date, 'dd/MM/yyyy')}"></td>
                            <td align="center" th:if="${lr.demandeEnCours}==true and ${lr.cloturer}==false">En cours <i class="far fa-clock" style="color: green"></i></td>
                            <td align="center" th:if="${lr.acceptation}==true and ${lr.demandeEnCours}==false and ${lr.cloturer}==false"><i class="fas fa-check-circle" style="color: green"></i></td>
                            <td align="center" th:if="${lr.acceptation}==false and ${lr.demandeEnCours}==false and ${lr.cloturer}==false"><i class="fas fa-times-circle" style="color: red"></i></td>
                            <td align="center" th:if="${lr.cloturer}==true">clôturée</i></td>
                            <td  th:if="${lr.acceptation}==true"><a class="btn btn-primary" th:href="'mailto:' + ${lr.topo.utilisateur.email}
                            +'?subject= Reservation du topo '+${lr.topo.nom}+'&body=Bonjour '+${lr.topo.utilisateur.username}+',%0D%0A' +'%0D%0AJe vous contacte pour la réservation du topo ' ${lr.topo.nom}
                            +'Pouvons-nous convenir d%27une date et d%27un lieu de rendez-vous?%0D%0ACordialement%0D%0A'+${utilisateurConnecte.username}"><i class="far fa-envelope"></i></a></td>
                        </tr>
                    </table>
                    <div class="container">
                        <ul class="nav nav-pills pagination justify-content-center h-100" th:if="${paginationEnablerResa>1}">
                            <li  th:class="${pageCouranteReservation}==${status.index}?'page-item active':'page-item'"
                                 th:each="p,status:${pagesReservation}">
                                <a class="page-link" th:href="@{/utilisateur/profil/reservations/emises(pageReservation=${status.index})}"
                                   th:text="${status.index}"></a>
                            </li>
                        </ul>
                        <br/>
                    </div>
                </div>
                <div class="card-body justify-content-center" th:if="${paginationEnablerResa==0} and ${demandeEmisesBool}==true">
                    <p>Vous n'avez pas encore fait de réservation de Topo.</p>
                    <a class=" btn btn-primary " th:href="@{/topo/search}" ><i class="fa fa-search"></i>  Trouver un Topo</a>
                </div>
                <div class="card-body justify-content-center" th:if="${paginationEnablerResa>0} and ${demandeRecueBool}==true">

                    <a class="btn btn-primary float-left"
                       th:href="@{/topo/add}"><i class="fa fa-plus"></i> Ajouter un Topo</a><br/><br/>


                    <table class="table table-striped">
                        <tr>
                            <th class="text-center" >Reservation</th>
                            <th class="text-center">Topo</th>
                            <th class="text-center">Site</th>
                            <th class="text-center">Lieu</th>
                            <th class="text-center">Demandeur</th>
                            <th class="text-center">date</th>
                            <th class="text-center">Accepter</th>
                            <th class="text-center">Refuser</th>
                        </tr>
                        <tr th:each="lr:${listResaRecue}">
                            <td align="center" th:text="${lr.id}"></td>
                            <td align="center" ><a th:text="${lr.topo.nom}"  th:href="@{/topo/{id}/consult(id=${lr.topo.id})}"></a></td>
                            <td align="center" ><a th:text="${lr.topo.site.nameSite}" th:href="@{/site/{idSite}/consult(idSite=${lr.topo.site.idSite})}"></a></td>
                            <td align="center" th:text="${lr.topo.site.localisation}"></td>
                            <td align="center" th:text="${lr.utilisateur.username}"></td>
                            <td align="center" th:text="${#dates.format(lr.date, 'dd/MM/yyyy')}"></td>
                            <td align="center" ><a class="btn btn-success"  th:href="@{/topo/reservation/{id}/accepter(id=${lr.id})}"><i class="fas fa-check"></i> Accepter</a></td>
                            <td align="center" ><a class="btn btn-danger"  th:href="@{/topo/reservatio/{id}/refuser(id=${lr.id})}"><i class="fas fa-times"></i> Refuser</a></td>
                        </tr>
                    </table>
                    <div class="container">
                        <ul class="nav nav-pills pagination justify-content-center h-100" th:if="${paginationEnablerResa>1}">
                            <li  th:class="${pageCouranteReservation}==${status.index}?'page-item active':'page-item'"
                                 th:each="p,status:${pagesReservation}">
                                <a class="page-link" th:href="@{/utilisateur/profil/reservations/recues(pageReservation=${status.index})}"
                                   th:text="${status.index}"></a>
                            </li>
                        </ul>
                        <br/>
                    </div>
                </div>
                <div class="card-body justify-content-center" th:if="${paginationEnablerResa==0} and ${demandeRecueBool}==true">
                    <p>Vous n'avez pas encore fait de réservation de Topo.</p>
                    <a class=" btn btn-primary " th:href="@{/topo/search}" ><i class="fa fa-search"></i>  Trouver un Topo</a>
                </div>
                <div class="card-body justify-content-center" th:if="${paginationEnablerResa>0} and ${demandeAccepteesBool}==true">

                    <table class="table table-striped">
                        <tr>
                            <th class="text-center" >Reservation</th>
                            <th class="text-center">Topo</th>
                            <th class="text-center">Site</th>
                            <th class="text-center">Lieu</th>
                            <th class="text-center">Demandeur</th>
                            <th class="text-center">date</th>
                            <th class="text-center">Contacter<br/> le demandeur</th>
                            <th class="text-center">Clôturer<br/> la demande</th>
                        </tr>
                        <tr th:each="lr:${listResaAcceptees}">
                            <td align="center" th:text="${lr.id}"></td>
                            <td align="center" ><a th:text="${lr.topo.nom}"  th:href="@{/topo/{id}/consult(id=${lr.topo.id})}"></a></td>
                            <td align="center" ><a th:text="${lr.topo.site.nameSite}" th:href="@{/site/{idSite}/consult(idSite=${lr.topo.site.idSite})}"></a></td>
                            <td align="center" th:text="${lr.topo.site.localisation}"></td>
                            <td align="center" th:text="${lr.utilisateur.username}"></td>
                            <td align="center" th:text="${#dates.format(lr.date, 'dd/MM/yyyy')}"></td>
                            <td><a class="btn btn-primary" th:href="'mailto:' + ${lr.utilisateur.email}"><i class="far fa-envelope"></i></a></td>
                            <td align="center" ><a class="btn btn-danger"  th:href="@{/topo/reservation/{id}/cloturer(id=${lr.id})}"><i class="fas fa-times"></i> Clôturer</a></td>
                        </tr>
                    </table>
                    <div class="container">
                        <ul class="nav nav-pills pagination justify-content-center h-100" th:if="${paginationEnablerResa>1}">
                            <li  th:class="${pageCouranteReservation}==${status.index}?'page-item active':'page-item'"
                                 th:each="p,status:${pagesReservation}">
                                <a class="page-link" th:href="@{/utilisateur/profil/reservations/acceptees(pageReservation=${status.index})}"
                                   th:text="${status.index}"></a>
                            </li>
                        </ul>
                        <br/>
                    </div>
                </div>
                <div class="card-body justify-content-center" th:if="${paginationEnablerResa==0} and ${demandeAccepteesBool}==true">
                    <p>Vous n'avez pas encore fait de réservation de Topo.</p>
                    <a class=" btn btn-primary " th:href="@{/topo/search}" ><i class="fa fa-search"></i>  Trouver un Topo</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>