<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
    <title>Les spots</title>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
            crossorigin="anonymous"></script>
</head>
<body>
    <div layout:fragment="content">
            <div class=" container h-100 botspacer">
                <div class="row justify-content-center">
                    <div>
                        <div class="spacer col-md-12 col-sm-12 col-lg-12">
                            <div class="card" th:if="${site}">
                                <div class="card-header ">
                                    <h3 class="card-title">Informations sur le site
                                        <a class="btn btn-primary float-right ml-2" sec:authorize="hasRole('ROLE_USER')"
                                           th:href="@{/site/{idSite}/topo/search(idSite=${site.idSite})}">
                                            <i class="fa fa-search"></i> Les Topos </a>
                                    </h3>
                                </div>
                                <div class="card-body row ">
                                    <div class="justify-content-left" >
                                        <label>Site:</label>
                                        <label th:text="${site.nameSite}" class="mr-2"></label>
                                        <label>Localisation:</label>
                                        <label th:text="${site.localisation}"></label>

                                        <br/>
                                        <label>Officiel:</label>
                                        <label align="center" th:if="${site.officiel}==true"><i class="fa fa-check-circle" style="color: green"></i></label>
                                        <label align="center" th:if="${site.isOfficiel()}==false"><i class="fa fa-times-circle" style="color: grey"></i></i></label>

                                    </div>
                                    <div class="ml-auto justify-content-right">
                                        <a class="btn btn-primary float-right" sec:authorize="hasRole('ROLE_ADMIN')"
                                           th:if="${site.officiel==false}"
                                           th:href="@{/site/{idSite}/edit/officiel(idSite=${site.idSite})}"><i class="fa fa-edit "></i> Rendre officiel</a>
                                        <a class="btn btn-primary float-right" sec:authorize="hasRole('ROLE_ADMIN')"
                                           th:if="${site.officiel==true}"
                                           th:href="@{/site/{idSite}/edit/officiel(idSite=${site.idSite})}"><i class="fa fa-edit "></i> Rendre non-officiel</a>
                                        <br/><a class="btn btn-primary float-right mt-1" sec:authorize="hasRole('ROLE_USER')"
                                                th:if="${utilisateurConnecte.idUser}==${site.utilisateur.idUser}"
                                                th:href="@{/site/{idSite}/edit(idSite=${site.idSite})}"><i class="fa fa-edit "></i> Modifier le site</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center ">
                            <div class="card mr-2 spacer" th:if="${site}">
                                <div class="card-header">
                                    <h3 class="card-title">Liste des voies
                                        <a class="btn btn-primary float-right" sec:authorize="hasRole('ROLE_USER')"
                                           th:if="${utilisateurConnecte.idUser}==${site.utilisateur.idUser}"
                                           th:href="@{/site/{idSite}/voie/add(idSite=${site.idSite})}"><i class="fa fa-plus"></i> Ajouter une voie</a>
                                    </h3>
                                </div>
                                <div class="card-body justify-content-center" th:if="${site}">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Nom</th>
                                            <th>Secteur</th>
                                            <th>cotation</th>
                                            <th>Hauteur</th>
                                            <th sec:authorize="hasRole('ROLE_USER')" th:if="${utilisateurConnecte.idUser}==${site.utilisateur.idUser}">Editer</th>
                                            <th sec:authorize="hasRole('ROLE_USER')" th:if="${utilisateurConnecte.idUser}==${site.utilisateur.idUser}">Supprimer</th>
                                        </tr>
                                        <tr th:each="v:${listVoie}">
                                            <td align="center" th:text="${v.nomVoie}"></td>
                                            <td align="center" th:text="${v.secteur}"></td>
                                            <td align="center" th:text="${v.difficulte}"></td>
                                            <td align="center" th:text="${v.hauteurVoie}"></td>
                                            <td align="center" sec:authorize="hasRole('ROLE_USER')" th:if="${v.site.utilisateur.idUser==utilisateurConnecte.idUser}"><a
                                                    th:href="@{/site/{idSite}/voie/{idVoie}/edit(idSite=${site.idSite},idVoie=${v.idVoie})}">    <i class="fa fa-edit "></i></a>
                                            </td>
                                            <td align="center" sec:authorize="hasRole('ROLE_USER')" th:if="${v.site.utilisateur.idUser==utilisateurConnecte.idUser}">
                                                <a onclick="return confirm('Etes vous sûr(e) de vouloir supprimer la voie'+'? \n Vous allez supprimer toutes les longueurs associées')"
                                                   th:href="@{/site/{idSite}/voie/{idVoie}/delete(idSite=${v.site.idSite} ,idVoie=${v.idVoie},pageVoie=${pageCouranteVoie},sizeVoie=${sizeVoie})}"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="container">
                                    <ul class="nav nav-pills pagination justify-content-center h-100" th:if="${paginationEnablerVoie>1}">
                                        <li  th:class="${pageCouranteVoie}==${status.index}?'page-item active':'page-item'"
                                             th:each="p,status:${pagesVoie}">
                                            <a class="page-link" th:href="@{/site/{idSite}/consult(idSite=${site.idSite},pageVoie=${status.index})}"
                                               th:text="${status.index}"></a>
                                        </li>
                                    </ul>
                                    <br/>
                                </div>
                            </div>
                            <div class="card spacer">
                                <div class="card-header">
                                    <h3 class="card-title">Liste des longueurs
                                        <a class="btn btn-primary float-right ml-2" sec:authorize="hasRole('ROLE_USER')"
                                           th:href="@{/site/{idSite}/voie/longueur/add(idSite=${site.idSite})}"
                                           th:if="${utilisateurConnecte.idUser==site.utilisateur.idUser and paginationEnablerVoie>0}"
                                        ><i class="fa fa-plus"></i> Ajouter une longueur</a>
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Voie</th>
                                            <th>Nom</th>
                                            <th>Hauteur</th>
                                            <th sec:authorize="hasRole('ROLE_USER')" th:if="${utilisateurConnecte.idUser}==${site.utilisateur.idUser}">Editer</th>
                                            <th sec:authorize="hasRole('ROLE_USER')" th:if="${utilisateurConnecte.idUser}==${site.utilisateur.idUser}">Supprimer</th>

                                        </tr>
                                        <tr th:each="ll:${listLongueur}">
                                            <td align="center" th:text="${ll.voie.nomVoie}"></td>
                                            <td align="center" th:text="${ll.nomLongueur}"></td>
                                            <td align="center" th:text="${ll.hauteurLongueur}"></td>
                                            <td align="center" sec:authorize="hasRole('ROLE_USER')"th:if="${ll.voie.site.utilisateur.idUser}==${utilisateurConnecte.idUser}"><a
                                                    th:href="@{/site/{idSite}/longueur/{idLongueur}/edit(idSite=${ll.voie.site.idSite},idLongueur=${ll.idLongueur})}"><i class="fa fa-edit"></i></a>
                                            </td>
                                            <td align="center" sec:authorize="hasRole('ROLE_USER')" th:if="${ll.voie.site.utilisateur.idUser}==${utilisateurConnecte.idUser}">
                                                <a onclick="return confirm('Etes vous sûr(e)?')"
                                                   th:href="@{/longueur/{idLongueur}/delete(idLongueur=${ll.idLongueur},pageLongueur=${pageCouranteLongueur},sizeLongueur=${sizeLongueur},nameSite=${site.nameSite})}"> <i class="fa fa-trash"></i></a>
                                            </td>

                                        </tr>
                                    </table>
                                </div>
                                <div class="container">
                                    <ul class="nav nav-pills pagination justify-content-center h-100" th:if="${paginationEnablerLongueur>1}">
                                        <li  th:class="${pageCouranteLongueur}==${status.index}?'page-item active':'page-item'"
                                             th:each="p,status:${pagesLongueur}">
                                            <a class="page-link" th:href="@{/site/{idSite}/consult(idSite=${site.idSite},pageLongueur=${status.index})}"
                                               th:text="${status.index}"></a>
                                        </li>
                                    </ul>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div sec:authorize="hasRole('ROLE_USER')">
                    <div class="card spacer" >
                        <div class="card-header">
                            <h3 class="card-title" >Liste des commentaires</h3>
                        </div>
                        <div class="card-body justify-content-center" th:if="${paginationEnablerCommentaire>0}">
                            <table class="table table-striped">
                                <tr>
                                    <th class="text-center">Site</th>
                                    <th class="text-center">Utilisateur</th>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Contenu</th>
                                    <th class="text-center" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or ${#authorization.expression('hasRole(''ROLE_USER'')')} and ${nbComByUser}>0">Modifier</th>
                                    <th class="text-center" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or ${#authorization.expression('hasRole(''ROLE_USER'')')} and ${nbComByUser}>0">Supprimer</th>
                                </tr>
                                <tr th:each="lc:${listCommentaire}">
                                    <td align="center" th:text="${lc.site.getNameSite()}"></td>
                                    <td align="center" th:text="${lc.utilisateur.getUsername()}" ></td>
                                    <td align="center" th:text="${lc.date.getDate()+'/'}+${lc.date.getMonth()+1+'/'}+${lc.date.getYear()+1900}"></td>
                                    <td align="center" th:text="${lc.contenu}"></td>
                                    <td align="center" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or ${#authorization.expression('hasRole(''ROLE_USER'')')} and ${lc.utilisateur.idUser}==${utilisateurConnecte.idUser}">
                                        <a th:href="@{/site/{idSite}/commentaire/{idCommentaire}/edit(idSite=${site.idSite},idCommentaire=${lc.getId()})}"><i class="fa fa-edit "></i></a></td>
                                    <td align="center" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or ${#authorization.expression('hasRole(''ROLE_USER'')')} and ${lc.utilisateur.idUser}==${utilisateurConnecte.idUser}" >
                                        <a onclick="return confirm('Etes vous sûr(e) de vouloir supprimer le commentaire')" th:href="@{/site/{idSite}/commentaire/{idCommentaire}/delete(idSite=${site.idSite},idCommentaire=${lc.getId()})}"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="container">
                            <ul class="nav nav-pills pagination justify-content-center h-100" th:if="${paginationEnablerCommentaire>1}">
                                <li  th:class="${pageCouranteCommentaire}==${status.index}?'page-item active':'page-item'"
                                     th:each="p,status:${pagesCommentaire}">
                                    <a class="page-link" th:href="@{/site/{idSite}/consult(idSite=${site.idSite},pageCommentaire=${status.index})}"
                                       th:text="${status.index}"></a>
                                </li>
                            </ul>
                            <br/>
                        </div>
                        <div class="card-body justify-content-center" th:if="${paginationEnablerCommentaire==0}">
                            <p>Il n'y a pas encore de commentaire, pensez à en ajouter.</p>
                        </div>
                    </div>
                    <div class="card spacer">
                        <div class="card-header">
                            <h3 class="card-title">Laissez un commentaire</h3>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/site/{idSite}/commentaire/save(idSite=${site.idSite})}" method="post">
                                <div class="form-group">
                                    <label for="textarea">Votre commentaire :</label>
                                    <textarea id="textarea" class="form-control" name="contenu" rows="4"></textarea>
                                    <small class="form-text text-muted">Vous pouvez agrandir la fenêtre</small>
                                </div>
                                <button class="btn btn-primary" type="submit">Envoyer</button>
                                <br/>
                            </form>
                        </div>
                    </div>
                </div>
                </div>
             </div>
    </div>
</body>
</html>