<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
    <title>Les spots</title>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
            crossorigin="anonymous"></script>
</head>
<body>
    <div layout:fragment="content" class="vbigspacer">
        <div class=" container h-100 ">
                <div class="vbigspacer card  mx-auto col-md-6 " th:if="${site}">
                    <div class="card-header "><h3 class="card-title">Informations sur le site</h3></div>
                    <div class="card-body">
                        <div>
                            <label>Site:</label>
                            <label th:text="${site.nameSite}" class="mr-2"></label>
                            <label>Localisation:</label>
                            <label th:text="${site.localisation}"></label>
                            <a class="btn btn-primary float-right" sec:authorize="hasRole('ROLE_USER')"
                               th:if="${utilisateurConnecte.idUser}==${site.utilisateur.idUser}"
                               th:href="@{/site/{idSite}/edit(idSite=${site.idSite})}"><i class="fa fa-edit "></i> Modifier le site</a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center spacer">
                    <div class="card" th:if="${site}">
                        <div class="card-header">
                            <h3 class="card-title">Liste des voies
                                <a class="btn btn-primary float-right" sec:authorize="hasRole('ROLE_USER')"
                                   th:if="${utilisateurConnecte.idUser}==${site.utilisateur.idUser}"
                                   th:href="@{/site/{idSite}/voie/add(idSite=${site.idSite})}"><i class="fa fa-plus"></i> Ajouter une voie</a>
                            </h3>
                        </div>
                        <div class="card-body justify-content-center" th:if="${site}">
                            <table class="table table-striped">
                                <tr>
                                    <th>Nom</th>
                                    <th>Secteur</th>
                                    <th>difficulté</th>
                                    <th>Hauteur</th>
                                    <th sec:authorize="hasRole('ROLE_USER')" th:if="${utilisateurConnecte.idUser}==${site.utilisateur.idUser}">Editer</th>
                                    <th sec:authorize="hasRole('ROLE_USER')" th:if="${utilisateurConnecte.idUser}==${site.utilisateur.idUser}">Supprimer</th>
                                </tr>
                                <tr th:each="v:${listVoie}">
                                    <td align="center" th:text="${v.nomVoie}"></td>
                                    <td align="center" th:text="${v.secteur}"></td>
                                    <td align="center" th:text="${v.difficulte}"></td>
                                    <td align="center" th:text="${v.hauteurVoie}"></td>
                                    <td align="center" sec:authorize="hasRole('ROLE_USER')" th:if="${v.site.utilisateur.idUser==utilisateurConnecte.idUser}"><a
                                            th:href="@{/site/{idSite}/voie/{idVoie}/edit(idSite=${site.idSite},idVoie=${v.idVoie})}">    <i class="fa fa-edit "></i></a>
                                    </td>
                                    <td align="center" sec:authorize="hasRole('ROLE_USER')" th:if="${v.site.utilisateur.idUser==utilisateurConnecte.idUser}">
                                        <a onclick="return confirm('Etes vous sûr(e) de vouloir supprimer la voie'+'? \n Vous allez supprimer toutes les longueurs associées')"
                                        th:href="@{/site/{idSite}/voie/{idVoie}/delete(idSite=${v.site.idSite} ,idVoie=${v.idVoie},pageVoie=${pageCouranteVoie},sizeVoie=${sizeVoie})}"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="container">
                            <ul class="nav nav-pills pagination justify-content-center h-100" th:if="${paginationEnablerVoie>1}">
                                <li  th:class="${pageCouranteVoie}==${status.index}?'page-item active':'page-item'"
                                     th:each="p,status:${pagesVoie}">
                                    <a class="page-link" th:href="@{/site/{idSite}/consult(idSite=${site.idSite},pageVoie=${status.index})}"
                                       th:text="${status.index}"></a>
                                </li>
                            </ul>
                            <br/>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Liste des longueurs
                                <a class="btn btn-primary float-right ml-2" sec:authorize="hasRole('ROLE_USER')"
                                    th:href="@{/site/{idSite}/voie/longueur/add(idSite=${site.idSite})}"
                                    th:if="${utilisateurConnecte.idUser==site.utilisateur.idUser and paginationEnablerVoie>0}"
                                   ><i class="fa fa-plus"></i> Ajouter une longueur</a>
                            </h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <tr>
                                    <th>Voie</th>
                                    <th>Nom</th>
                                    <th>Hauteur</th>
                                    <th sec:authorize="hasRole('ROLE_USER')" th:if="${utilisateurConnecte.idUser}==${site.utilisateur.idUser}">Editer</th>
                                    <th sec:authorize="hasRole('ROLE_USER')" th:if="${utilisateurConnecte.idUser}==${site.utilisateur.idUser}">Supprimer</th>

                                </tr>
                                <tr th:each="ll:${listLongueur}">
                                    <td align="center" th:text="${ll.voie.nomVoie}"></td>
                                    <td align="center" th:text="${ll.nomLongueur}"></td>
                                    <td align="center" th:text="${ll.hauteurLongueur}"></td>
                                    <td align="center" sec:authorize="hasRole('ROLE_USER')"th:if="${ll.voie.site.utilisateur.idUser}==${utilisateurConnecte.idUser}"><a
                                            th:href="@{/site/{idSite}/longueur/{idLongueur}/edit(idSite=${ll.voie.site.idSite},idLongueur=${ll.idLongueur})}"><i class="fa fa-edit"></i></a>
                                    </td>
                                    <td align="center" sec:authorize="hasRole('ROLE_USER')" th:if="${ll.voie.site.utilisateur.idUser}==${utilisateurConnecte.idUser}">
                                        <a onclick="return confirm('Etes vous sûr(e)?')"
                                           th:href="@{/site/{idSite}/longueur/{idLongueur}/delete(idLongueur=${ll.idLongueur},pageLongueur=${pageCouranteLongueur},sizeLongueur=${sizeLongueur},nameSite=${site.nameSite})}"> <i class="fa fa-trash"></i></a>
                                    </td>

                                </tr>
                            </table>
                        </div>
                        <div class="container">
                            <ul class="nav nav-pills pagination justify-content-center h-100" th:if="${paginationEnablerLongueur>1}">
                                <li  th:class="${pageCouranteLongueur}==${status.index}?'page-item active':'page-item'"
                                     th:each="p,status:${pagesLongueur}">
                                    <a class="page-link" th:href="@{/site/{idSite}/consult(idSite=${site.idSite},pageLongueur=${status.index})}"
                                       th:text="${status.index}"></a>
                                </li>
                            </ul>
                            <br/>
                        </div>
                    </div>
                </div>
             </div>
         </div>
    </div>
</body>
</html>