<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
    <title>Les spots</title>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="@{style.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css.css" th:href="@{bootstrap.min.css}"/>
</head>
<body>
    <div layout:fragment="content">
        <div class=" container h-100 ">
            <div>
                <div class="mx-auto col-lg-4 h-100 bigspacer" th:if="!${site}" >
                    <div class="card-header card border-dark mt-4" ><h3 class="card-title" >Consultation d'un site</h3></div>
                    <div class="card-body border-dark">
                        <form th:action="@{/consulterSite}" method="get">
                            <label>Nom du site: </label>
                            <input type="text" name="nameSite"  />
                            <button class="btn btn-primary" type="submit">Ok</button>
                        </form>
                        <div class="red" th:if="${exception}"><label>Site introuvable</label></div>
                    </div>
                </div>
                <div class="bigspacer card  mx-auto col-md-6 " th:if="${site}">
                    <div class="card-header "><h3 class="card-title">Informations sur le site</h3></div>
                    <div class="card-body">
                        <div>
                            <label>Site:</label>
                            <label th:text="${site.nameSite}" class="mr-2"></label>
                            <label>Localisation:</label>
                            <label th:text="${site.localisation}"></label>
                            <a class="btn btn-primary float-right" sec:authorize="hasRole('ROLE_USER')" th:href="@{/editSite(idSite=${site.idSite})}"><i class="fa fa-edit "></i> Modifier le site</a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center spacer">
                    <div class="card" th:if="${site}">
                        <div class="card-header"><h3 class="card-title">Liste des voies</h3></br>
                            <label>Nom du site: </label>
                            <label th:text="${site.nameSite}"></label>
                            <a class="btn btn-primary float-right" sec:authorize="hasRole('ROLE_USER')" th:href="@{/addFormVoie(idSite=${site.idSite})}"><i class="fa fa-plus"></i> Ajouter une voie</a>
                        </div>
                        <div class="card-body justify-content-center" th:if="${site}">
                            <table class="table table-striped">
                                <tr>
                                    <th>Nom</th>
                                    <th>Secteur</th>
                                    <th>difficulté</th>
                                    <th>Hauteur</th>
                                    <th sec:authorize="hasRole('ROLE_USER')">Editer</th>
                                    <th sec:authorize="hasRole('ROLE_USER')">Supprimer</th>
                                </tr>
                                <tr th:each="v:${listVoie}">
                                    <td align="center" th:text="${v.nomVoie}"></td>
                                    <td align="center" th:text="${v.secteur}"></td>
                                    <td align="center" th:text="${v.difficulte}"></td>
                                    <td align="center" th:text="${v.hauteurVoie}"></td>
                                    <td align="center" sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/editVoie(idVoie=${v.idVoie},idSite=${site.idSite})}">    <i class="fa fa-edit "></i></a></td>
                                    <td align="center" sec:authorize="hasRole('ROLE_USER')"><a onclick="return confirm('Etes vous sûr de vouloir supprimer la voie'+' ? \n Vous allez supprimer toutes les longueurs associées')"
                                           th:href="@{/deleteVoie(idVoie=${v.idVoie},pageVoie=${pageCouranteVoie},sizeVoie=${sizeVoie},nameSite=${nameSite})}">     <i class="fa fa-trash"></i></a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="container">
                            <ul class="nav nav-pills pagination justify-content-center h-100" th:if="${paginationEnablerVoie>1}">
                                <li  th:class="${pageCouranteVoie}==${status.index}?'page-item active':'page-item'"
                                     th:each="p,status:${pagesVoie}">
                                    <a class="page-link" th:href="@{/consulterSite(nameSite=${nameSite},pageVoie=${status.index})}"
                                       th:text="${status.index}"></a>
                                </li>
                            </ul>
                            <br/>
                        </div>
                    </div>
                    <div class="card" th:if="${site}">
                        <div class="card-header"><h3 class="card-title">Liste des longueurs</h3></br>
                            <label>Nom du site: </label>
                            <label th:text="${site.nameSite}"></label>
                            <a class="btn btn-primary float-right" sec:authorize="hasRole('ROLE_USER')" th:href="@{/addLongueur}" th:if="${paginationEnablerVoie>0}"><i class="fa fa-plus"></i> Ajouter une longueur</a>
                        </div>
                        <div class="card-body" th:if="${site}">
                            <table class="table table-striped">
                                <tr>
                                    <th>Voie</th>
                                    <th>Nom</th>
                                    <th>Hauteur</th>
                                    <th sec:authorize="hasRole('ROLE_USER')">Editer</th>
                                    <th sec:authorize="hasRole('ROLE_USER')">Supprimer</th>
                                </tr>
                                <tr th:each="l:${listLongueur}">
                                    <td align="center" th:text="${l.voie.nomVoie}"></td>
                                    <td align="center" th:text="${l.nomLongueur}"></td>
                                    <td align="center" th:text="${l.hauteurLongueur}"></td>
                                    <td align="center" sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/edit(idVoie=${l.idLongueur})}"><i class="fa fa-edit"></i></a></td>
                                    <td align="center" sec:authorize="hasRole('ROLE_USER')"><a onclick="return confirm('Etes vous sûre?')"
                                           th:href="@{/deleteLongueur(idLongueur=${l.idLongueur},pageLongueur=${pageCouranteLongueur},sizeLongueur=${sizeLongueur})}"> <i class="fa fa-trash"></i></a></td>

                                </tr>
                            </table>
                        </div>
                        <div class="container">
                            <ul class="nav nav-pills pagination justify-content-center h-100" th:if="${paginationEnablerLongueur>1}">
                                <li  th:class="${pageCouranteLongueur}==${status.index}?'page-item active':'page-item'"
                                     th:each="p,status:${pagesLongueur}">
                                    <a class="page-link" th:href="@{/consulterSite(nameSite=${nameSite},pageLongueur=${status.index})}"
                                       th:text="${status.index}"></a>
                                </li>
                            </ul>
                            <br/>
                        </div>
                    </div>
                </div>
             </div>
         </div>
    </div>
</body>
</html>