<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
    <title>Topo</title>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script src="https://kit.fontawesome.com/2fe189fad4.js" crossorigin="anonymous"></script>
    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
            crossorigin="anonymous"></script>
</head>
<body>
    <div layout:fragment="content" class="vbigspacer">
        <div class=" container h-100 ">
                <div class="vbigspacer card  mx-auto col-md-6 ">
                    <div class="card-header "><h3 class="card-title">Informations sur le Topo
                        <a class="btn btn-primary float-right ml-2" sec:authorize="hasRole('ROLE_USER')"
                           th:if="${utilisateurConnecte.idUser}!=${topo.utilisateur.idUser} and ${topo.disponibilite}!=false and ${demandeEnCours}==false"
                           th:href="@{/topo/{idTopo}/reservation(idTopo=${topo.id})}">
                            <i class="fa fa-ticket"></i> Réserver Le Topo </a>
                        <a class="btn btn-primary float-right ml-2" sec:authorize="hasRole('ROLE_USER')"
                           th:if="${utilisateurConnecte.idUser}!=${topo.utilisateur.idUser}  and ${demandeEnCours}==true"
                           th:href="@{/utilisateur/profil/reservations/emises}">
                            <i class="far fa-clock"></i> Demande<br/> en cours </a>
                    </h3></div>
                    <div class="card-body text-center" >
                        <div>
                            <label>Site:</label>
                            <label th:text="${topo.site.getNameSite()}" class="mr-2"></label><br/>
                            <label>Lieu:</label>
                            <label th:text="${topo.site.getLocalisation()}" class="mr-2"></label><br/>
                            <label>Topo:</label>
                            <label th:text="${topo.getNom()}" class="mr-2"></label><br/>
                            <label>Description:</label>
                            <label th:text="${topo.description}"></label><br/>
                            <label >Date de parution:</label>
                            <label th:text="${topo.date.getDate()+'/'}+${topo.date.getMonth()+1+'/'}+${topo.date.getYear()+1900}"></label><br/>
                            <label>Disponibilité:</label>
                            <label align="center" th:if="${topo.disponibilite}==true"><i class="fa fa-check-circle" style="color: green"></i></label>
                            <label align="center" th:if="${topo.disponibilite}==false"><i class="fa fa-times-circle" style="color: red"></i></i></label>
                            <br/><label>Propiétaire:</label>
                            <label th:text="${topo.getUtilisateur().getUsername()}"></label><br/>
                        </div>
                    </div>
                </div>
             </div>
         </div>
    </div>
</body>
</html>