<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
    <title>Les spots</title>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>

    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div layout:fragment="content">
        <div class=" container h-100">
            <div>
                <div class="mx-auto col-lg-4 h-100 vbigspacer">
                    <div class="bigspacer card-header card border-dark mt-4" ><h3 class="card-title" >Recherche sur critères</h3></div>
                    <div class="card-body border-dark">
                        <form th:action="@{/topo/find}">
                            <label>Mot clé: </label><br/>
                            <input type="text" name="motCle"/>
                            <button class="btn btn-primary" type="submit">Ok</button>
                        </form>
                        <div class="red" th:if="${exception}"><label>Topo introuvable</label></div>
                    </div>
                </div>
                <div class="row justify-content-center spacer">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" th:if="!${motCle}">Liste des topos</h3>
                            <h3 class="card-title" th:if="${motCle}">Liste des topos contenant: [[${motCle}]]</p></h3>
                        </div>
                        <div class="card-body justify-content-center">
                            <table class="table table-striped">
                                <tr>
                                    <th class="text-center">Nom</th>
                                    <th class="text-center">Description</th>
                                    <th class="text-center">Lieu</th>
                                    <th class="text-center">Disponibilité</th>
                                    <th class="text-center">Date de<br/> parution</th>
                                    <th class="text-center">Propiétaire</th>
                                </tr>
                                <tr th:each="lto:${listTopo}">
                                    <td align="center" ><a th:text="${lto.nom}"  th:href="@{/topo/{id}/consult(id=${lto.id})}"></a></td>
                                    <td align="center" th:text="${lto.description}"></td>
                                    <td align="center" th:text="${lto.getSite().getLocalisation()}"></td>
                                    <td align="center" th:if="${lto.disponibilite}==true"><i class="fa fa-check-circle" style="color: green"></i></td>
                                    <td align="center" th:if="${lto.disponibilite}==false"><i class="fa fa-times-circle" style="color: red"></i></i></td>
                                    <td align="center" th:text="${lto.date.getDate()+'/'}+${lto.date.getMonth()+1+'/'}+${lto.date.getYear()+1900}"></td>
                                    <td align="center" th:text="${lto.getUtilisateur().getUsername()}"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="container">
                            <ul class="nav nav-pills pagination justify-content-center h-100" th:if="${paginationEnablerTopo>1}">
                                <li  th:class="${pageCouranteTopo}==${status.index}?'page-item active':'page-item'"
                                     th:each="p,status:${pagesTopo}">
                                    <a class="page-link" th:href="@{/topo/search(pageTopo=${status.index})}"
                                       th:text="${status.index}"></a>
                                </li>
                            </ul>
                            <br/>
                        </div>
                    </div>
             </div>
         </div>
    </div>
</div>
</body>
</html>